div, input, button {
    border: 2px solid rgb(210, 62, 178);
    color:  rgb(210, 62, 178);
    border-radius: 3px; 
    font-weight: 600;
}

div{
    width: 300px;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin-bottom: 13px;
}

button{
    margin: 15px;
    padding: 2px 40px;
    background: rgb(255, 201, 243);
}

